body
{
background-image:url("pics/asds.jpg"); 
       
      
}

p{ font-family: 'Tangerine', serif;
        font-size: 48px; color: white; margin-left:593px; margin-top:150px;}

legend{color:white;}
label{color:white;}
fieldset{margin-left:650px;margin-top:50px;}



failedMessage
{
color: red;
position: absolute;
margin-left: 310px;
margin-top: -27px;
width: 200px;
}

input.error
{
border: 1px solid red;
}

input.valid
{
border: 1px solid green;
}

input
{
    margin-bottom: 3px;
    padding: 5px;
}
